* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper-center {
	height: calc(100vh - 150px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-container {
	height: calc(100vh - 100px);
}

.hidden-text {
	opacity: 0;
	color: red;
	font-size: 18px;
	font-weight: bold;
	transition: opacity 250ms ease-in-out;
	cursor: pointer;
}

.hidden-text:hover {
	opacity: 1;
}
